:root {
  --left-size: 80px
}

* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: grid;

  grid-template-columns: 300px calc(100vw - 300px);
  grid-template-rows: 80px calc(100vh - 80px);

  grid-template-areas:
    'a a'
    'chl mn';
}

.cursor-pointer {
  cursor: pointer;
}

header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: 0.3s ease-in-out;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(128, 185, 210);
  background: #343a40;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgb(128, 185, 210);
  background: #6c757d;
}

/* header styles */
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;

  align-items: center;
  text-align: center;
  height: 80px;

  display: flex;
  justify-content: space-between;

  box-shadow: 0px 0.2px 8px;
  padding: 0px 20px;
  margin-bottom: 40px;
}

/* logo */
.logo {
  vertical-align: middle;

  display: flex;
  align-items: flex-end;
}

.logo-image {
  width: 50px;
  margin: 0 15px;
}

.logo-label {
  font-size: 40px;
  color: rgb(128, 185, 210);
}
/* --logo-- */

/* search-bar */
.search-bar {
  width: 450px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px 0px 0px 8px;
  border: 2px solid black;
}

.search-input:focus {
  border-color: rgb(128, 185, 210);
}

.search-btn {
  border-radius: 0px 8px 8px 0px;
  border: 2px solid black;
  border-left: 0px;
}

.search-btn:hover {
  background-color: rgb(184, 181, 181);
}

.search-icon {
  font-size: 14px;
  padding: 9px 5px;
}

.search-icon-voice {
  color: rgb(191, 191, 191);
  font-size: 24px;
  margin: 0 10px;
}

.search-icon-voice:hover {
  color: rgb(92, 92, 92);
}
/* --search-- */

/* additional-menu */
.additional-menu-icon-bell {
  font-size: 24px;
  margin: 0 10px;
  color: rgb(191, 191, 191);
}

.additional-menu-icon-bell:hover {
  color: rgb(92, 92, 92);
}

.additional-menu-icon-paw {
  font-size: 20px;
  margin: 0 10px;
  padding: 13px;
  background-color: rgb(128, 185, 210);
  border-radius: 100px;
}

.additional-menu-icon-paw:hover {
  background-color: rgb(191, 191, 191);
}
/* --additional-menu-- */
.additional-menu {
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: 0.3s ease-in-out;
}

.submenu-link:after {
  content: '\f107';
  color: inherit;
  margin-left: 10px;
}

.submenu {
  background: white;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.submenu-icons {
  font-size: 14px;
  margin-left: 10px;
}

.submenu-item {
  display: flex;
  align-items: center;
}

.submenu-item:hover {
  background-color: rgb(197, 196, 196);
}

.submenu a {
  color: black;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu li:last-child a {
  border-bottom: none;
}

.additional-menu > div:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.additional-menu > div {
  width: 30%;
  float: left;
  position: relative;
}

/* --header styles-- */

/* channel-block */

.channel-list {
  height: 500px;
  overflow-y: scroll;

  border-bottom: 3px solid rgba(255, 255, 255, 0.36);
}

.channel-block {
  grid-area: chl;
  background-color: rgba(92, 92, 92, 0.333);
}

.channel-item {
  display: flex;
  align-items: center;

  margin: 40px 20px;
}

.channel-name {
  width: 70px;
  font-size: 24px;

  margin: 0px 20px;

  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-ava {
  width: 50px;
  border-radius: 50px;
}

.signal {
  height: 10px;
  width: 10px;

  border-radius: 20px;
  background-color: red;

  position: relative;
}

.signal-center {
  height: 30px;
  width: 30px;

  position: absolute;
  bottom: -10px;
  left: -10px;

  border-radius: 30px;
  background-color: red;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

.all-information {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .display-none-in-future{
    display:none;
  }

  .container {
    grid-template-columns: 100px calc(100vw - 100px);;
  }
}

@-webkit-keyframes pulsing {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.quan-followers {
  margin: 0px 20px;
  font-size: 24px;
}

.information-card {
  background-color: rgb(159, 159, 159);
  width: 250px;
  height: 150px;
  margin: 10px auto;
  padding-top: 5px;
  text-align: center;
}

.join-text {
  margin: 30px 0px;
}

.join-text::selection {
  background-color: rgb(128, 185, 210);
}

.info-icon {
  font-size: 30px;
  margin: 0px 10px;
}

.info-icon:hover {
  color: rgb(54, 147, 187);
}

.channel-container {
  margin: 0 auto;
}

/* --channel-clock-- */

/* main-content */
.main-content {
  grid-area: mn;
  overflow-y: scroll;
}

/* categories-bar */

.categories-bar {
  display: flex;
  overflow-x: scroll;
}

.categories-bar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.categories-item {
  padding: 10px;
  margin: 15px 10px;

  border: 1px solid black;
  border-radius: 40px;

  background-color: rgb(233, 233, 233);
  white-space: nowrap;
}

.categories-item:hover {
  background-color: rgb(172, 171, 171);
}

.selected-categories {
  background-color: rgb(128, 185, 210);
}

/* --categories-bar-- */

/* slider  */

.slider {
  margin: 20px auto;
  height: 300px;
  width: 50%;
  box-shadow: 0px 5px 10px black;
}

.slider-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}

[id^='slide']:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide-1 {
  background-image: url('/assets/images/slider_1.jpg');
}
.slide-2 {
  background-image: url('/assets/images/slider_2.jpg');
}
.slide-3 {
  background-image: url('/assets/images/slider_3.jpg');
}

/* --slider--  */

/* video-block */

.video-container {
  margin: 80px 0px;

  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
}

.video-card {
  height: 300px;
  margin: 15px;
}

.video-image {
  height: 220px;
  width: 400px;
}

.video-bar {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.additional-options {
  margin-left: auto;
  margin-right: 10px;
}

.video-info {
  margin: 0px 20px;
}

.video-owner {
  font-weight: 400;
}

.video-image-container {
  position: relative;
  width: 100%;
}

.live {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: red;
  border-radius: 50px;

  width: auto;

  padding: 5px 10px;
  text-align: center;

  color: white;
}

.additional-text {
  position: absolute;
  bottom: -10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;

  width: auto;

  padding: 5px 10px;
  text-align: center;

  color: white;
}

.video-image-container:hover {
  background: rgba(0, 0, 0, 0.3) url('/assets/images/paw.png') 50% 50% no-repeat;
  background-size: contain;
}

.video-image-container:hover .video-image {
  opacity: 0.3;
}

.video-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

/* --video-block-- */

.video-wrapper {
  position: relative;
  min-height: calc(100vh - 555px);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 15px 0;
}
/* --main-content-- */